.nav {
  margin-top: 20px;
  font-family: "LT";
  padding: 0 20px 0 20px;
}
.font {
  font-family: "Lato";
}
.size40 {
  font-size: 40px;
  line-height:normal;
}
.semiBold {
  font-weight: 400;
}
.heading {
  font-size: 20;
}
.letterSpacing {
  letter-spacing: -2px;
}
.tabs {
  font-weight: normal;
  font-size: 20;
  color: "#000000";
}
