@tailwind base;
@tailwind components;
@tailwind utilities;

html{
   background-color:  #ECECEC ;
}

.vector{
    background-image: url(./assits/Vectorvector.png);
    background-position: 50% 0%;
    background-size: contain;
}